
.container{
	position: relative;
	width: 600px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minax(260px,1fr));
	grid-gap: 0 40px;
	padding-right: 100px;
	left: 10%;
	margin-top: 70px;
}
.container .box{
	position: relative;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid skyblue;
}
.content{
	position: relative;
	padding: 20px;

}
.container .box:before{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: linear-gradient(pink,yellow);
	transform: skew(2deg,2deg);
	z-index: -1;
}
.box .content h3{
	margin: 0 0 10px;
	padding: 0;
	font-size: 24px;
	font-weight: 500;
	color: black;
}
.box .content p{
	margin: 0;
	padding: 0;
	font-size: 17px;
	color: black;
}
.box .content a{
	position: relative;
	margin: 0;
	padding: 10px 20px;
	text-decoration: none;
	border: 1px solid black;
	display: inline-block;
	color: black;
	transition: 0.5s;
	transform: translate(-40px);
	opacity: 0;
	visibility: hidden;
	background: skyblue ;
	font-size: 20px;
	
}
.box:hover .content a{
transform: translate(0);
opacity: 1;
visibility: visible;
}
.box .content a hover{
	color: blue;
	
}


.b1{
	position: absolute;
	left: 55%;
	top: 15%;
	border: 2px solid black;
	box-shadow: 10px 20px 40px;
}

.b1:hover{
	box-shadow: 1px 2px 4px;
}